*{
	font-family: 'Noto Sans KR', sans-serif, 'Roboto';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main{
	min-height: 100%;
	position:relative;
    padding-bottom:65px;
}

/* header  */
header{
	height: 52px;
	background-color: #FAFAFA;
	font-size: 13px;	
    text-align: center;
}
.header_container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
	color: #707070;
}
.header_logo{
	width: 195px;
    float: left;
	margin-top: 10px;
	padding-top: 5px;
	height: 32px;
	border: 1px solid #767676;
}
.header_currentPage{
	width: 40%;
    float: left;
    margin-top: 13px;
	margin-left: 10px;
	text-align: left;
	font-size: 16px;
	font-weight: 700;	
}
.header_status{
	width: 10%;
    float: right;
    margin-top: 14px;
	font-size: 13px;
}
.header_status a{
	text-decoration: none;
	color: #808080;
	font-size: 13px;
}

/* login  */
.login_title{
	height: 80px;
	text-align: center;
	margin: auto;
    margin-top: 12%;
}
.login_title h4{
	color: #646464;
	font-size: 20px;
	font-weight: 700;
}
.login_title h2{
	color: #1D1C1C;
	font-size: 32px;
	font-weight: 700;
}
.form_login{
	width: 280px;
	font-size: 14px;
	font-weight: 600;
    margin: auto;
}
.form_login input{
	width: 280px;
	height: 50px;
	border: 1px solid #A9A9A9;
	border-radius: 4px;
	font-size: 15px;
	color: #707070;
	margin-top: 3%;
}
.longin_id{
	margin-bottom: 10%;
	margin-top: 10%;
}
.longin_password{
	margin-bottom: 10%;
}
#idInput{
	background-image: url(../assets/img/icon_person.svg);
	background-repeat: no-repeat;
	background-position: 7%;
    text-indent: 15%;
}
#passwordInput{
	background-image: url(../assets/img/icon_lock.svg);
	background-repeat: no-repeat;
	background-position: 7%;
    text-indent: 15%;
}
input::-webkit-input-placeholder{
	padding-left: 3%;
}

#loginBtn{
	background-color: #FF4839;
	border: 1px solid #FF4839;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 700;
	width: 280px;
	height: 50px;
	margin-top: 3%;
	cursor: pointer;
}

/* modal */
.modal_container{
	display: none;
	position:fixed;_position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.modal_layer{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:.4;
	filter:alpha(opacity=50)
}
.a{
	position:absolute;
	top:50%;
	left:53.5%;
	width:280px;
	height:174px;
	margin:-100px 0 0 -200px;
	padding:20px;
	background:#FFFFFF;
	text-align: center;
	border-radius: 5px;
}
.a p {
	font-size: 16px;
	margin-top: 6%;
	margin-bottom: 7%;
}
#modalBtn{
	width: 146px;
	height: 42px;
	background-color: #FF4839;
	background-color: #FF4839;
	border: 1px solid #FF4839;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}

/* 지원자 상세 페이지 header */
.header_close{
	width: 56px;
	height: 28px;
    float: right;
    margin-top: 12px;
	font-size: 13px;
	background-color: #F5F5F5;
	border-radius: 5px;
}
.header_close img{
	margin-top: 6px;
}
.header_close span{
	vertical-align: 0.5em;
}

.header_profile{
	width: 100%;
	height: 97px;
	background-color: #FFFFFF;
	position: sticky; 
	top: 0; 
	border-bottom: 1px solid #4E4E4E;
	box-shadow: 0 12px 12px -12px #D3D3D3;
}
.header_profile_container{
	max-width: 1100px;
	margin: 0 auto;
}
.header_profile_container .profile{
	float: left;
	text-align: left;
	margin-top: 24px;
}
.header_profile_container .btn{
	float: right;
	margin-top: 34px;
}
.header_profile_container button{
	border: 1px solid #F5F5F5;
	cursor: pointer;
	box-shadow: none;
	background-color: transparent;
}

.profile_position{
	font-size: 13px;
	color: #808080;
	font-weight: 600;
	margin-bottom: 10px;
}
.profile_name{
	font-size: 16px;
	color: #1A1A1A;
	font-weight: 700;
}
.profile_career{
	font-size: 13px;
	color: #1B4DC3;
	font-weight: 600;
}
.profile_M{
	font-size: 13px;
	margin-left: 20px;
	color: #808080;
	font-weight: 700;
}
.profile_E{
	font-size: 13px;
	margin-left: 10px;
	color: #808080;
	font-weight: 700;
}
.profile_phone{
	color: #1A1A1A;
	font-size: 13px;
}
.profile_email{
	color: #1A1A1A;
	font-size: 13px;
}

/* 지원자 상세 페이지 main contents  */
.main_profile{
	width: 100%;
	padding-top: 30px;
}
.main_profile_container{
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
}
.contents_left{
	width: 716px;
	margin-right: 56px;
}
.contents_left h2{
	font-size: 20px;
}
.contents_left img{
	vertical-align: -0.2em;
}
.contents_left h5{
	font-size: 16px;
	margin-top: 8px;
}
.contents_left .text{
	font-size: 14px;
	padding-top: 5px;
}
.videoplayer{
	width: 716px;
	height: 402px;
	background-color: #D3D3D3;
	margin-top: 10px;
}
.portpolio_resume{
	margin-top: 28px;
}
.portpolio_career{
	margin-top: 50px;	
}
.portpolio_education{
	margin-top: 50px;
	margin-bottom: 100px;
}
.textarea{
	width: 716px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	padding: 16px;
	margin-top: 8px;
}

.contents_right{
	width: 300px;
	position: sticky;
	align-self: flex-start;
	top: 200px;
}
.memo{
	width: 300px;
	height: 400px;
	border: 1px solid #EAEAEA;
	border-radius: 5px;
	box-shadow: 0 0 5px #D3D3D3;
	padding: 20px;
}
.memo h5{
	font-size: 15px;
}
.memo_input{
	width: 254px;
	height: 65px;
	margin: 10px 0;
	border: 1px solid #A9A9A9;
	border-radius: 3px;
}
.memo_text{
	width: 204px;
	height: 63px;
	font-size: 13px;
	border: 1px solid #FFFFFF;
	line-height: 1.5rem;
	resize: none;
	outline: none;
}
.memo_btn{
	width: 36px;
	height: 53px;
	border: 1px solid #F5F5F5;
	background-color: #F5F5F5;
	border-radius: 5px;
	font-size: 12px;
	cursor: pointer;
	margin: 6px;
	float:right;
}
.memo_contents{
	width: 254px;
	height: 214px;
}
.memo_contents_empty{
	padding-left: 90px;
	padding-top: 90px;
	display: none;
}
.memo_contents_history{
	/* display: none; */
}
.memo_list{
	height: 214px;
	list-style: none;
	font-size: 13px;
	overflow-y: auto;
	overflow-x: hidden;
	/* display: flex;
	align-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap; */
}
.memo_list li{
	margin-bottom: 5px;
	padding-top: 5px;
}
hr{
	width: 240px;
	background-color: #F5F5F5;
	border: 0.5px solid #F5F5F5;
	height: 0.5px;
	margin-top: 3px;
}
.likeBtn{
	width: 140px;
	height: 36px;
	border: 1px solid #F5F5F5;
	background-color: #F5F5F5;
	border-radius: 5px;
	font-size: 14px;
	float: right;
	cursor: pointer;
	margin-top: 10px;
}
.likeBtn img{
	vertical-align: -0.2em;
	padding-right: 5px;
}
#like_on{
	display: none;
}

/* 지원자 리스트 페이지 */
nav{
	width: 200px;
	height: 830px;
	background-color: #343434;	
	float: left;
	margin-right: 80px;
	/* position: fixed; */
}
nav p{
	font-size: 13px;
	font-weight: 700;
	color: #959595;
	margin: 15px 15px;
}
nav ul li{
	width: 170px;
	height: 36px;
	line-height: 36px;
	font-weight: 700;
	display: block;
	margin: 5px auto;
}
nav ul li a{
	text-decoration: none;
	font-size: 15px;
	font-weight: 700;
	color: #FFFFFF;
}
.app_container{
	width: 100%;
	margin: 0 auto;
}
.applicantList{
	/* margin: 0 auto; */
	max-width: 1080px;
	height: 830px;
	float: left;
}
.applicantList h2{
	font-size: 24px;
	font-weight: 700;
	margin-top: 50px;
}
.applicantList li{
	list-style: none;
}
.tab{
	width: 1000px;
	height: 52px;
	background-color: #F4F4F4;
	border-radius: 4px;
	margin-top: 25px;
}
.tab_all{
	width: 158px;
	height: 40px;
	margin: 8px;	
	border-radius: 5px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	background-color: #1A1A1A;
	color: #FFFFFF;	
	float: left;
}
.tab_liked{
	width: 158px;
	height: 40px;
	margin: 8px;	
	border-radius: 5px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	background-color: #F4F4F4;
	color: #797979;
	float: left;
}
.tab_excelBtn{
	width: 90px;
	height: 30px;
	margin: 11px;	
	border-radius: 3px;
	border: 1px solid #1EA385;
	font-size: 13px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	background-color: #FFFFFF;
	color: #1A1A1A;
	float: right;
}
.tab_excelBtn img{
	vertical-align: middle;
	margin-right: 5px;
}
.applicantList_zero{
	margin: 200px 430px;
}
.applicantList_card{
	width: 1000px;
	height: 170px;
	margin: 20px 0;
	border-bottom: 1px solid #F5F5F5;
	display: flex;
	justify-content: space-between;
	justify-items: center;
}
.app_card{
	width: 266px;
	height: 150px;
	background-color: #BABABA;
	float: left;
}
.app_div1{
	float: left;
	margin-top: 47px;
}
.app_name{
	font-size: 22px;
	font-weight: 700;
	color: #1A1A1A;
	/* background-color: yellow;	 */
}
.app_career{
	font-size: 13px;
	font-weight: 700;
	color: #1B4DC3;
}
.app_education{
	font-size: 14px;
	color: #1A1A1A;
	float: left;
	margin-top: 47px;
}
.app_div3{
	float: left;
	margin-top: 47px;
}
.app_M{
	font-weight: 700;
	color: #808080;
}
.app_E{
	font-weight: 700;
	color: #808080;
}
.app_phone{
	font-size: 14px;
	font-weight: 400;
	color: #1A1A1A;
}
.app_email{
	font-size: 14px;
	font-weight: 400;
	color: #1A1A1A;
}
.app_div4{
	float: left;
	margin-top: 57px;
}
.app_bookmark{
	font-size: 12px;
	color: #808080;
	text-align: right;
}
.app_bookmark img{
	vertical-align: middle;
	margin-left: 2px;
}
.app_applyDate{
	font-size: 12px;
	color: #BEBEBE;
	margin-top: 54px;
}
.pagenation{
	width: 174px;
	height: 22px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	color: #1A1A1A;
	padding-bottom: 90px;
}


/* footer */
footer{
	height: 65px;
	width: 100%;
	background-color: #FAFAFA;
	font-size: 13px;
    text-align: center;
  	bottom:0;
}
.footer_container {
	max-width: 1080px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;	
	color: #767676;
}
.footer_logo{
    font-weight: 700;
    font-size: 0.9rem;
    width: 10%;
    float: left;
    margin-top: 25px;
}
.footer_phone{
    width: 10%;
    float: left;
    margin-top: 25px;
}
.footer_email{
    width: 12%;
    float: left;
    margin-top: 25px;
}
.footer_guide{
    width: 10%;
    float: left;
    margin-top: 25px;
}
.footer_policy{
    width: 10%;
    float: left;
    margin-top: 25px;
}
.footer_copyright{
    width: 30%;
    float: right;
    margin-top: 25px;
}